header{
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png");
    background-repeat: no-repeat;
    background-position: 20px 50%; 
}
